# Copy this file to .env.local and set your WoW Retail path
# Set the path to your WoW _retail_ folder (NOT the AddOns folder)
# The script will automatically append /Interface/AddOns/PartyMacroManager
#
# Example paths:
# Linux: /home/username/.local/share/lutris/runners/wine/WoW/_retail_
# macOS: /Applications/World of Warcraft/_retail_
# Windows (WSL): /mnt/c/Program Files (x86)/World of Warcraft/_retail_
# Windows (Git Bash): /c/Program Files (x86)/World of Warcraft/_retail_
#
# Note: Do NOT escape spaces - the script handles them automatically

WOW_RETAIL_PATH=/path/to/World of Warcraft/_retail_
